<div class="block notice">
  <h3>Notice</h3>
  <div class="content">
    <p>Hi,everybody.Here is a easy bbs developed by Ruby on Rails and is my first personal app.</p>
  </div>
</div>
<div class="block">
  <h3>Links</h3>
  <ul class="navigation">
    <li><%= link_to "Link 1", "#" %></li>
    <li><%= link_to "Link 2", "#" %></li>
    <li><%= link_to "Link 3", "#" %></li>
    <li><%= link_to "Link 4", "#" %></li>
  </ul>
</div>
